example_analysis*
.snakemake/
snakemake/
workflow/*
!workflow/Snakefile
workflow/Snakefile_without_trimming
workflow/readme.txt
workflow/Snakefile_without_trimming
config/*
!config/example.yaml
!config/samples.tsv
